<div class = "container-fluid" ng-app="receta">

	<div class = "panel-success row" >
		<h1 class="col-md-6 col-md-offset-3 text-center">	Hello, {{name}} </h1>
	</div>
	<div class = "panel-body row col-md-6 col-md-offset-3">
		<form >
			<div class="form-group ">
					<input class= "form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
			</div>
			<button type="submit" class="btn btn-warning">submit</button>

		</form>
	</div>

	</hr>

	<div class="view-container">
		<div ng-view class="view-frame animate-view"></div>
	</div>

</div>